# Database Connection
DATABASE_URL="postgresql://postgres:password@172.25.0.2:5432/slabclash?schema=public"

# Redis Connection
REDIS_HOST=172.25.0.3
REDIS_PORT=6379

# JWT Secret
JWT_SECRET=super-secret-key-change-me-in-production

# MinIO / AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=rootuser
AWS_SECRET_ACCESS_KEY=rootpassword
S3_ENDPOINT=http://localhost:9100
S3_BUCKET_NAME=slabclash-uploads

# Anti-fraud
PHASH_THRESHOLD=10

